@import '../variables.scss';

.App {
    position: relative;
}

.overlay {
    display: none;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 2;
    background: #2e3341;

    &.active {
        display: block;
    }
}

.vp {
    padding: 120px 0;
}

.bkg {
    position: relative;
    display: flex;
    align-items: center;

    &.blue-dark {
        background: $primary-dark;
    }

    &.blue-light {
        background: $primary-light;
    }

    &.light {
        background: #fff;
    }
}

.arrow-box {
    cursor: pointer;
    font-size: 32px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background: $primary-dark;
    color: #fff;
    border: 3px solid $primary-light;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform .25s ease-in-out;

    &:hover {
        transform: scale(1.25);
    }
}

@media (max-width: 576px) {

    .vp {
        padding: 60px 0;
    }

}