@import '../variables.scss';

.Hero {
    position: relative;
    min-height: 500px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $primary-dark, $primary-light);
    

    .mountains {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url('../img/herobkg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }
    

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        z-index: 1;
        opacity: .75;
    }

    &::after {
        background-image: url('../img/nubes.png');
        animation: nube 1000s linear infinite;
    }

    &::before {
        background-image: url('../img/nubes2.png');
        animation: nube 500s linear infinite;
    }

    .row-banner {
        z-index: 4;
        max-width: 650px;
        margin: 0 auto;
        display: block;

        .banner-text {
            color: #fff;

            h1 {
                font-size: 48px;
                line-height: 72px;
                margin-bottom: 20px;
                text-align: center;
                color: #fff;
                text-shadow: 2px 2px #111;
            }
        }
    }

    .button {
        font-family: 'Raleway', sans-serif;
        border: 3px solid #fff;
        padding: 10px 20px;
        background: transparent;
        color: #fff;
        display: block;
        margin: 25px auto 0;
        font-size: 18px;
        transition: all .25s ease-in-out;

        i {
            margin-left: 15px;
            transform: rotate(0);
            transition: all .25s ease-in-out;
        }

        &:hover {
            background: $secondary-light;
            border-color: $secondary-light;

            i {
                transform: rotate(90deg);
            }
        }

        &:focus {
            outline: none;
        }
    }

    .gradient {
        content: '';
        z-index: 3;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(3,17,28,0);
        background: -moz-linear-gradient(top, rgba(3,17,28,0) 75%, rgba(3,17,28,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(75%, rgba(3,17,28,0)), color-stop(100%, rgba(3,17,28,1)));
        background: -webkit-linear-gradient(top, rgba(3,17,28,0) 75%, rgba(3,17,28,1) 100%);
        background: -o-linear-gradient(top, rgba(3,17,28,0) 75%, rgba(3,17,28,1) 100%);
        background: -ms-linear-gradient(top, rgba(3,17,28,0) 75%, rgba(3,17,28,1) 100%);
        background: linear-gradient(to bottom, rgba(3,17,28,0) 75%, rgba(3,17,28,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03111c', endColorstr='#03111c', GradientType=0 );
    }
}

@keyframes nube {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

@media (max-width: 576px) {

    .Hero {
    
        .row-banner {
            max-width: 325px;

            .banner-text {    
                h1 {
                    font-size: 32px;
                    line-height: 48px;
                }
            }
        }

        .button {
            margin: 50px auto 0;
        }
    }

}