@import '../variables.scss';

.Projects {

    .projects-section {
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
    }

    .project {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: background-color .25s ease-in-out;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::after {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background: rgba(255, 255, 255, 0.85);
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }

        .text {
            z-index: 1;
            text-align: center;
            position: absolute;
            top: 0;
            opacity: 0;
            padding: 15px;
            transition: all .25s ease-in-out;

            .project-title {
                font-family: 'Raleway', sans-serif;
                font-size: 24px;
            }

            .project-type {
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 95%;
                display: block;
                margin: 0 auto;
            }
        }

        .button {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            font-family: 'Raleway', sans-serif;
            bottom: 0;
            opacity: 0;
            transition: all .25s ease-in-out;
            padding: 5px 15px;
            border: 3px solid $secondary-light;
            background: transparent;
            transition: all .25s ease-in-out;

            &:hover {
                background: $secondary-light;
            }
        }

        &:hover {
            
            &::after {
                opacity: 1;
            }

            .text {
                top: 50px;
                opacity: 1;
            }

            .button {
                bottom: 50px;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 768px) {

    .Projects {

        .projects-section {
            height: 400px;
        }

        .project {
    
            .text {
                .project-title {
                    font-size: 22px;
                }
                .project-type {
                    font-size: 14px;
                }
            }

            &:hover {
                .text {
                    top: 25px;
                }
    
                .button {
                    bottom: 25px;
                }
            }
        }
    }

}

@media (max-width: 576px) {

    .Projects {

        .projects-section {
            height: 800px;
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25% 25%;
        }
    }
}

@media (max-width: 360px) {

    .Projects {

        .project {
    
            .text {
                .project-title {
                    font-size: 18px;
                }
            }
        }
    }
}